@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy' , sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.divider {
    width: 940px;
    border: 1px solid #828282;

    margin: 31px 0 0 0;
}


@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/title';