.contacts {
    padding: 114px 0 123px 0;
    &__btn {
        display: flex;
        margin: 0 auto 85px auto;
        justify-content: center;
    }
    &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
        img {
            padding: 0 30px 0 30px;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #828282;
    }
    &__text {
        margin: 20px 0 30px 0;
    }
}